@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter&display=swap');

body, html {
    padding: 0;
    margin: 0;
}
nav {
    position: fixed;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
    display: grid;
    align-items: center;
    border-bottom: 2px solid white;
    transition: 0.5s all;
    min-width: 100vw;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10fr;
    margin: 0px;
    justify-items: center;
}

nav li {
    text-align: center;
    display: inline-block;
    padding: 20px 10px 20px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}
nav li:hover {
    color: black;
    cursor: pointer;
}

#start {
    display: grid;
    max-height: 100vh;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    background: radial-gradient(circle, rgba(145,117,146,1) 0%, rgba(124,124,171,1) 25%, rgba(108,152,139,1) 50%, rgba(159,158,106,1) 75%, rgba(146,99,99,1) 100%);
}
#intro-vid {
    position: relative;
    top: -100px;
    z-index: 1;
}
#start img {
    height: 426px;
    margin-top: 150px;
    animation: 1s ease-out 0s 1 slideInLeft;
    animation-delay: 1s;
    margin-left: -800px;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideInLeft {
    0% {transform: translateX(-100%)}
    100% {transform: translateX(0); margin-left: -263px; opacity: 1}
}

#KZ-text {
    font-family: 'Comforter', cursive;
    position: absolute;
    font-size: 130px;
    color: white;
    margin-top: 274px;
    margin-left: -227px;
    animation: 1s ease-out 0s 1 FadeIn;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
#T-text {
    font-family: 'Caveat', cursive;
    color: white;
    position: absolute;
    margin-top: -121px;
    margin-left: 537px;
    font-size: 20px;
    animation: 1s ease-out 0s 1 FadeIn;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#AH-text {
    font-family: 'Caveat', cursive;
    color: white;
    margin-top: 415px;
    position: absolute;
    margin-left: 100px;
    font-size: 30px;
    animation: 1s ease-out 0s 1 FadeIn;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes FadeIn {
    100% {opacity: 1}
}

#about h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

#about img {
    height: 300px;
    display: inline-block;
}

#about-text {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 150px;
    align-items: center;
}
#button {
    opacity: 0;
    transition: .5s all;
}
#button img {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
#button img:hover {
    cursor: pointer;
}
footer {
    background-color: black;
    min-width: 100%;
    margin-top: 100px;
    padding-bottom: 30px;
}
#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    border-bottom: 1px solid white;
}
#col-1 {
    display: inline-block;
    color: white;
    margin: 30px;
    text-align: center;
    font-size: 20px;
}
#col-2 {
    display: inline-block;
    color: white;
    margin: 30px;
}
#col-3 {
    display: inline-block;
    color: white;
    margin: 30px;
    text-align: center;
    text-decoration: underline;
}
#col-3 p{
    margin: 0;
    padding: 10px;
}
#col-3 p:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}