{% extends 'layouts/main.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'fastmail/index.css' %}">

    <div id='news' style="text-align: center">
        <div id="auth-box">
            <label id="login-text">Логин</label><br>
            <input id="username" placeholder="Ваше имя"><br>
            <label id="pass-text">Пароль</label><br>
            <input id="pass" placeholder="Ваш пароль" type="password"><br>
            <input type="checkbox" id="show-pass">
            <label>Показать пароль</label>
        </div>
    </div>
{% endblock %}